
header{
    display: flex;
    font-weight: 600;
    color: var(--color-ash);
    padding: 20px;
    border: 1px solid red;
}

.logo{
    border-radius: 50%;
}

.image{
    display: flex;
    width: 10%;
    height: 40px;
    justify-content: right;
    margin-right: 50px;
}
ul{
    display: flex;
    list-style: none;
    column-gap: 65px;
    margin: 0;
    padding: 2px;
    margin-top: 9px;
    font-size: 18px;
    font-weight: 500;
}
nav{
    width: 40%;
    height: 40px;
    position: static;
}

.switch_request{
    width: 20%;
    height: 40px;
    position: absolute;
    right: 1px;
    display: flex;
    column-gap: 25px;
}

.switch{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
    margin-top: 5px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-green);
    -webkit-transition: .4s;
    transition: .4s;
}


.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background: var(--color-black);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--color-green);
    
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--color-blue);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(20px);
}

.slider.round {
    border-radius: 15px;
}

.slider.round:before {
    border-radius: 50%;
    z-index: 2;
}

.mode{
    position: relative;
    top: 4px;
    left: 8px;
    z-index: 1;
}
.night_mode{
    position: relative;
    top: 4px;
    left: 5px;
    z-index: 1;
}

.content{
    display: none;
    z-index: 1;
    background-color: var(--color-black);
    width: 160px;
    height: 90px;
    padding: 15px;
    border-radius: 8px;
    
    
}

.content a{
    color: var(--color-white);
    display: block;
    text-decoration: none;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 18px;
}

.content a:hover{
    color: var(--color-green);
}

.dropdown:hover .content{
    display: block;
    margin-top: 10px;
}

.resource_btn{
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-ash);
    margin-top: -8px;
}

.resource_btn img{
    position: relative;
    top: 8px;
}

.request_button{
    width: 150px;
    height: 40px;
    background-color: var(--color-green);
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    color: var(--color-white);


}