:root {
  --color-green: rgb(58 186 180 /1);
  --color-black: rgb(44, 42, 42);
  --color-blue:  #2196F3;
  --color-white: whitesmoke;
  --color-ash: rgb(244 244 245 / 1);
  --color-backGround: rgb(29 29 32 / 1);
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(255 255 255 / 1);*/
  background-color: var(--color-backGround);
};